.body {
  background-color: #eaeaea !important;
}

.login {
  background-color: #eaeaea !important;
}

.login .wrapper {
  margin: -250px -200px !important;
}

.login .wrapper .login-body {
  margin-top: 20px;
  background: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #cccccc;
}

.login .wrapper .isologo {
  display: block;
  float: left;
  width: 203px !important;
  height: 49px !important;
  margin-left: 88px !important;
  background-image: url(../img/logo-comgas.png) !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.login .wrapper h1 {
  display: block !important;
  float: left !important;
  width: 300px !important;
  margin: 0 !important;
  color: #666666 !important;
  font-size: 30px !important;
}

.poweredBy {
  margin-top: 10px;
  height: 38px;
  background-image: url(../img/powered-by.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

/* TOP MENU BAR */

#navigation #brand {
  background: url(../img/logo-comgas-mini.png) no-repeat !important;
  margin-left: -5px;
}

#mainLoading {
  display: none;
  position: absolute;
  top: 11px !important;
  left: 16px !important;
}
