.body {
  background-color: #eaeaea !important;
}

.login {
  background-color: #eaeaea !important;
}

.login .wrapper {
  margin: -250px -200px !important;
}

.login .wrapper .login-body {
  margin-top: 20px;
  background: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #cccccc;
}

.login .wrapper .isologo {
  display: block;
  float: left;
  width: 90px !important;
  height: 64px !important;
  margin-left: 10px !important;
  background-image: url(../img/logo-fenosa.png) !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.login .submit .btn.btn-primary {
  background-color: #444
}

.login .submit .btn.btn-primary:hover {
  background-color: #737373
}

.login .wrapper h1 {
  display: block !important;
  float: left !important;
  width: 300px !important;
  margin: 0 !important;
  color: #666666 !important;
  font-size: 30px !important;
}

/*.poweredBy {
	margin-top: 10px;
	height: 38px;
	background-image: url(../../img/powered-by.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}*/

/* TOP MENU BAR */

#navigation #brand {
  background: url(../img/logo-fenosa-mini.png) no-repeat !important;
}

#navigation {
  background: #8c8c8c !important;
}

#navigation .toggle-nav:hover {
  background-color: #444 !important;
}

#navigation .dropdown-menu {
  border-color: #444 !important;
}

#navigation .user .icon-nav>li>a:hover {
  background: #444 !important;
}

#navigation .user .dropdown>a:hover {
  background: #444 !important;
}

#navigation .user .dropdown.open {
  background: #444 !important;
}

#navigation .dropdown-menu>li>a:hover {
  background: #444 !important;
  color: #fff;
}

#navigation .main-nav>li.open>a {
  background: #444 !important;
}

#navigation .main-nav>li>a:hover {
  background: #444 !important;
}

.btn.signOut {
  background: #444 !important;
}

/* LEFT MENU BAR */

.navigation li>ul>li>span {
  background: #737373 !important;
}

.navigation>ul>li a:hover,
.navigation>ul>li:hover a {
  background: #737373 !important;
}

.navigation ul ul li:hover>a {
  background: #444 !important;
}

/* DIAGRAM TOOLBAR */

.navigation.diagram-toolbar ul li:hover img {
  -webkit-filter: invert(100%) !important;
}

.navigation.diagram-toolbar>ul>li.more:hover a {
  color: #FFF !important;
}

.navigation.diagram-toolbar label {
  color: #fff !important;
}

.navigation.diagram-toolbar span {
  color: #fff !important;
}

.navigation.diagram-toolbar .text {
  color: #fff !important;
}
