{
  "__appName": "Pyplan",
  "__appVersion": "1.0.0",
  "__apiURL": "http://localhost:8000/api",
  "__uiURL": "http://localhost:9000",
  "__environmentName": "Testing",
  "__socialLogins": [
    {
      "app": "linkedin",
      "data": {
        "clientId": "LINKEDIN_CLIENT_ID",
        "scope": "r_liteprofile%20r_emailaddress"
      }
    },
    {
      "app": "google",
      "data": {
        "clientId": "GOOGLE_CLIENT_ID",
        "scope": "profile%20email"
      }
    }
  ],
  "__customer": {
    // "customerTitle": "Sistema de Bases Metodol&oacute;gicas Online",
    // "customerBaseColor": "#eaeaea",
    // "customerLoaderColor": "#999",
    // "customerColorSchema": "grey",
    // "hideNavbar": true
  },
  "__customerStyles": {
    "customerCode": "comgas" // "sbmo", "copel", "comgas"
  }
}
